<% layout("layouts/boilerplate.ejs") %>
<body>
    <div class=" mt-3 alert alert-danger alert-dismissible fade show" role="alert">
        <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</body>