<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/listings">Explore</a>
                </div>
                
                <div class="auth ms-auto">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/listings/new">Airbnb your home</a>
                    </div>
                    <% if(!currUser) {%>
                    <div class="signin">
                      <a class="btn " href="/signup"><b>signup</b></a>
                    </div>
                    <div class="logout">
                      <a class="btn " href="/login"><b>login</b></a>
                    </div>
                    <% } else{%>
                    <div>
                        <span><i class="fa-solid fa-user"></i> <u><%= currUser.username %></u></span>
                        &nbsp;
                        <a class="btn btn-outline-danger" href="/logout">logout</a>
                    </div>
                    <% } %>
                </div>

            </div>
        </div>
    </nav>
</body>

</html>