body{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}

.container{
    flex: 1 !important;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
    margin-bottom: 10px;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222 !important;
    transition: color 0.3s ease !important;
}
.nav-link:hover{
    color: #fe424d !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222;
    margin-left: 5px;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: #222;
}

.f-info{
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    margin-top: 10px;
}

.f-info-social,.f-info-links,.f-info-brand{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i{
  margin-left: 5px;
  font-size: 1.2rem;
}


/* Cards */

.card{
    width: 15rem !important;
    margin-bottom: 2rem !important;
    border: none !important;
    display: block !important;   
    padding: 0 !important;
}

.card-img-top{
    width: 100%;
    height: 15rem;
    border-radius: 1rem !important;
}
.card-body{
    padding: 0px !important;
}

.row a{
    text-decoration: none !important;
    color: #222 !important;
    width: fit-content !important;
    /* margin:  0 0 0 0 !important; */
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new page addbtn */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* edit page editbtn */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
    border-radius: 7px;
}

/* show page */
.show-img {
  width: 70vh !important;
  height: 40vh;
  object-fit: cover;
  border-radius: 8px;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btn-dark {
  background-color: #222 !important;
  color: white !important;
  border: none !important;
  border-radius: 7px !important;
}

.edit-btn {
  background-color: #fe424d;
  color: white;
  border: none;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Optional: allows wrapping on smaller screens */
}

.description {
  flex: 1;
  min-width: 200px;
}

.extra {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

/* price */

/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}